.content {
    font-family: 'Source Sans Pro', sans-serif;
    width: 840px;
    border: 20px solid #bdc3c7;
    margin: 0 auto;
    font-size: 19px;
    padding: 19px;
}
.date-text {
    text-align: center;
    padding:23px 0;
    color: #3498db;
}
.header-article {
    font-size: 36px;
    font-weight: bold;
    padding: 15px 0;
}
.first-article {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
.second-article {
    padding: 15px 0;
}
.third-article {
    padding: 15px 0;
}
